.ikon {
    display: flex;
    align-self: center;
    overflow: visible;
    padding: 1rem;
    margin: 0 1.5rem 0 0;
    background-color: #CCE2F0;
    border-radius: 50%;
}

.content_wrapper {
    display: flex;
    align-items: center;
}

.tekst {
    font-size: 18px !important;
}

@media (min-width: 0px) {
    .flis {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 648px) {
    .flis {
        margin: 0;
    }

    .flis_large {
        width: 24.5rem;
    }
}