.flere-tjenester-nav {
  display: flex;
  flex-wrap: wrap;
}

.flere-tjenster-link {
  flex: 1 1 30%;
}

@media (max-width: 648px) {
  .flere-tjenster-link {
    flex: 1 1 50%;
  }
}

@media (max-width: 448px) {
  .flere-tjenster-link {
    flex: 1 1 100%;
  }
}
