.flere-tjenester-nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 1.5rem;
}

.flere-tjenster-link {
  min-width: 33.33%;
  margin-bottom: 1.5rem;
}

.flere-tjenster-link:not(:first-child):not(:nth-child(2)) {
  flex-grow:0;
}

@media (max-width: 648px) {
  .flere-tjenster-link {
    flex: 1 1 50%;
  }
}

@media (max-width: 448px) {
  .flere-tjenster-link {
    flex: 1 1 100%;
  }
}
