.flere-tjenester-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  text-align: center;
}

.flere-tjenester-header::before {
  content: '';
  flex: 1;
  height: 1px;
  background-color: lightgray;
}

.flere-tjenester-header::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: lightgray;
}
