.page-wrapper-microfrontend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #262626;
}

svg {
  height: 22px !important;
  width: 22px !important;
}

.navds-panel {
  padding: 24px !important;
}

.flere-tjenester-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem !important;
  text-align: left;
  font-weight: bold !important;
}

.lenkepanel-liten-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.lenkepanel-stor-wrapper {
  display: flex;
  flex-direction: column;
}

.navds-link-panel__chevron {
  width: 18px;
  height: 18px;
}


@media (min-width: 0px) {
  .lenkepanel-liten-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 648px) {
  .lenkepanel-liten-wrapper {
    display: grid;
  }
}