.large > div:first-of-type {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.4rem;
}

.small {
    font-size: 18px !important;
}

.small_tittel {
    font-size: 18px !important;
}

.ikon_wrapper {
    display: flex;
    align-self: center;
    overflow: visible;
    padding: 1rem;
    margin: 0 1.5rem 0 0;
    background-color: #CCE2F0;
    border-radius: 50%;
}

.content_wrapper {
    display: flex;
    align-items: center;
}

.fil_ikon {
    margin: 0 1.5rem 0 0;
    overflow: visible;
}

@media (min-width: 0px) {
    .large {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem 0 0 0;
    }

    .small {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 648px) {
    .large {
        display: block;
        width: 37.5rem;
        margin: 1.5rem 0 0 0;
    }

    .small {
        margin: 0;
    }

    
}